---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Build Docker image
# yamllint disable-line rule:truthy
on:
  pull_request_review:
    types:
      - submitted
  workflow_dispatch:
permissions: read-all
jobs:
  build:
    name: Build Docker image
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # 6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # 6.1.0
        with:
          go-version-file: "go.mod"
      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d  # 0.9
        env:
          KO_DOCKER_REPO: ko.local
      - run: ko build demo/main.go --bare
      - name: Scan for vulnerabilities
        id: sec-scan
        uses: crazy-max/ghaction-container-scan@4d8e0acba576e46016cbd65b9ecfc604e85e3990  # 3.2.0
        with:
          image: ko.local:latest
          annotations: true
