---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check End-to-End
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.go"
      - "**.yml"
      - "**.sh"
      - "!.github/*"
  pull_request_review:
    types:
      - submitted
  schedule:
    - cron: "0 0 * * 5"
permissions: read-all
jobs:
  check-ci-baremetal:
    name: Check E2E deployment on Ubuntu Noble Virtual Environment (contour)
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      DEBUG: true
      INGRESS_CONTROLLER: contour
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Install dependencies
        run: ./scripts/install.sh
      - name: Configure k8s cluster
        working-directory: scripts
        run: ./configure.sh
      - name: Deploy Ingress app
        working-directory: scripts
        run: ./deploy.sh
      - name: Check Ingress app
        working-directory: scripts
        run: ./check.sh
  check-ci-vm:
    name: Check E2E deployment on Ubuntu Jammy Virtual Machine (nginx)
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: vm-self-hosted
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Cache Vagrant boxes
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # 5.0.3
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-ubuntu-jammy-${{ hashFiles('Vagrantfile') }}
          restore-keys: |
            ${{ runner.os }}-vagrant-ubuntu-jammy-
      - name: Apply workaround for VBoxHeadless issue on macOS (https://www.virtualbox.org/ticket/20636)
        shell: bash
        run: |
          if [[ "$(VBoxManage --version)" == "6.1.28r147628" ]]; then
              find . -type f -iname "Vagrantfile" -exec sed -i 's|v.gui = .*|v.gui = true|g' {} \;
          fi
      - name: Deploy Virtual Machine
        env:
          VAGRANT_DISABLE_VBOXSYMLINKCREATE: 1
        run: vagrant up
