---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Lint Code Base
# yamllint disable-line rule:truthy
on: [push, pull_request]
permissions: read-all
jobs:
  check-broken-links:
    name: Check documentation external links
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false
      - name: Check broken links
        uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # 1.1.2
  check-super-linter:
    name: Check syntax (super-linter)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false
      - name: Check super-linter
        uses: super-linter/super-linter@502f4fe48a81a392756e173e39a861f8c8efe056 # 8.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: /
          VALIDATE_KUBERNETES_KUBEVAL: false
          VALIDATE_CHECKOV: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_PRE_COMMIT: false
          VALIDATE_TRIVY: false
          EDITORCONFIG_FILE_NAME: .editorconfig-checker.json
          KUBERNETES_KUBECONFORM_OPTIONS: "-ignore-missing-schemas"
          DEFAULT_BRANCH: ${{ github.head_ref || github.ref_name }}
  check-tox:
    name: Check syntax (tox)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false
      - name: Install tox
        run: pip install tox
      - name: Run tox validation
        run: tox -e lint
