---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check Vulnerabilities
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.go"
  pull_request_review:
    types:
      - submitted
permissions: read-all
jobs:
  check-sec:
    name: Check source code vulnerabilities
    if: >-
      ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    runs-on: ubuntu-latest
    env:
      GO111MODULE: "on"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Run Gosec Security Scanner
        uses: securego/gosec@b72378a2da300339c40788e1eddf1ddea6498558 # 2.22.11
        with:
          args: ./...
